# Introduction to Python

We will make use of jupyter notebooks to code using the Python language. Notebooks allow us to combine text and code to our script.

## Basic Airthmetic

In [ ]:
2 + 5

In [ ]:
8 - 3

In [ ]:
3*4

In [ ]:
16/2

In [ ]:
3**2

In [ ]:
print(3)

In [ ]:
print("Hello World")

## Logical Comparison

In [ ]:
2 > 3

In [1]:
6 <= 5

False

In [2]:
4 == 5

False

In [3]:
4 != 5

True

In [4]:
(3 != 2) and (2 > 3)

False

In [5]:
(3 != 2) or (2 > 3)

True

## Variable assignment

In [ ]:
x = 4
y = 3
x + y

In [ ]:
z = x + y
print(z)

## Comments in Python

In [ ]:
# A hash sign comments out a line of code
print("This is code")

# vs

# print("This is a comment")

In [ ]:
# If a code line is commented out the script will not recognise the variables

# test = 3
test + 4

# Packages in Python

There are various packages compatible with Pyhton. Throughout the course you will be exposed to a wide range of packages to help you implement the topics covered. For now we will consider the `numpy` package for scientific computing in Python.

### `numpy` Package

Package page: https://numpy.org/

To install packages we can use the `pip` command in our notebook or we can make use of the conda prompt. 

We only need to install packages onces on our system.  

To use a package we instruct our environment to find the package using the `import` command.

In [ ]:
pip install numpy

In [ ]:
import numpy as np

## Data types

The data types that we will focus on are:
- Numeric
- Character
- Boolean
- Lists and Tuples
- Dictionaries
- Arrays, Vectors and Matrices

### Numeric, characters and Boolean

In [ ]:
text = "These are characters"

In [ ]:
print(text)

In [ ]:
type(text)

In [ ]:
number = 33

In [ ]:
print(number)
type(number)

In [ ]:
pi = 3.1415

print(pi)
type(pi)

In [ ]:
logical = 3 > 4
print(logical)
type(logical)

In [ ]:
logT = True
print(logT)
type(logT)

### Lists and tuples

Lists are a common data structure to hold an ordered sequence of elements. Each element can be accessed by an index. **Note that Python indexes start with 0 instead of 1.**

A tuple is similar to a list in that itâ€™s an ordered sequence of elements. However, tuples can not be changed once created

Syntax summary:

`[]` - list

`{}` - dictionary

`()` - tuple

In [ ]:
# List 

ls = [1,2,3,4,6]
print(ls)

In [ ]:
ls[2]

In [ ]:
type(ls)

In [ ]:
## Add values to a list

ls.extend([10, 2, 3])
print(ls)

In [ ]:
# A tuple

tp1 = (1,2,3)

print(tp1)
type(tp1)

In [ ]:
tp2 = ("red", "yellow", "green")

print(tp2)
type(tp2)

In [ ]:
tp2[2]

### Dictionaries

A dictionary is a container that holds pairs of objects - keys and values.

In [ ]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome", 
  "England": "London"
}

In [ ]:
print(country_capitals)

In [ ]:
print(country_capitals["United States"])

In [ ]:
print(country_capitals["England"])

In [ ]:
# add an item with "Germany" as key and "Berlin" as its value
country_capitals["Germany"] = "Berlin"

print(country_capitals)

### Arrays, Vectors and Matrices

To create arrays and vectors we make use of the `Numpy` package.

Syntax : np.array(list)

Argument : It take 1-D list it can be 1 row and n columns or n rows and 1 column

Return : It returns vector which is numpy.ndarray

In [ ]:
# importing numpy
import numpy as np

# creating a 1-D list (Horizontal)
list1 = [5, 6, 9]

# creating a 1-D list (Vertical)
list2 = [[1], 
         [2], 
         [3]]

# creating a vector_row
# row vector
vector1 = np.array(list1)

# creating a vector_col
# column vector
vector2 = np.array(list2)


# showing horizontal vector
print("Horizontal Vector/Row Vector")
print(vector1)

print("----------------")

# showing vertical vector
print("Vertical Vector/Column Vector")
print(vector2)

In [ ]:
## Add vectors 

list3 = [1, 
         2, 
         3]

vector2 = np.array(list3)

addition = vector1 + vector2
print(vector1)
print(vector2)
print(addition)

In [ ]:
## Subtract vectors 

minus = vector1 - vector2
print(vector1)
print(vector2)
print(minus)

In [ ]:
## Multiply vectors 

mul = vector1*vector2
print(vector1)
print(vector2)
print(mul)

In [ ]:
## Divide vectors 

div = vector1/vector2
print(vector1)
print(vector2)
print(div)

In [ ]:
## Dot product of vectors 

dot_prod = np.dot(vector1, vector2)
print(vector1)
print(vector2)
print(dot_prod)

In [ ]:
# Vector-Scalar Multiplication 

scalar = 2
scalar_mul = vector1*scalar
print(scalar)
print(vector1)
print(scalar_mul)

In [ ]:
# Matrices 

A = [[1, 2],
     [2, 3]]

B = [[4, 5],
     [6, 7]]

print(A)
print(B)

In [ ]:
C = A +B
print(C)

In [ ]:
print(A[1])

In [ ]:
print(A[1][0])

In [ ]:
array = np.random.randint(10, size=(3, 3))
print(array)

In [ ]:
# initializing matrices
x = np.array([[1, 2], [4, 5]])
y = np.array([[7, 8], [9, 10]])

print(x)
print(y)

In [ ]:
# using add() to add matrices
x_plus_y = np.add(x,y)
print(x_plus_y)

In [ ]:
# using subtract() to subtract matrices
x_minus_y = np.subtract(x,y)
print(x_minus_y)

In [ ]:
# using multiply() to perform element wise multiplication matrices
x_mul_y = np.multiply(x,y)
print(x_mul_y)

In [ ]:
# using divide() to perform element wise division matrices
x_div_y = np.divide(x,y)
print(x_div_y)

## Algorithms

To code algorithms you need to define functions, be able to implement loops and conditional statements

### Functions

Defining a section of code as a function in Python is done using the `def` keyword. For example a function that takes two arguments and returns their sum can be defined as:

In [ ]:
def add_function(a, b):
    result = a + b
    return result

z = add_function(20, 22)
print(z)

### Lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(3)

In [ ]:
lambda var: var*2

### Loops

There are two types of loops in Python, for and while.

The `for` loop iterates over a given sequence. The `while` loop repeats as long as a certain boolean condition is met.

`break` is used to exit a `for` loop or a `while` loop, whereas `continue` is used to skip the current block, and `return` to the `for` or `while` statement.

In [ ]:
# Start with for loops
primes = [2, 3, 5, 7]

for p in primes:
    print(p)

In [ ]:
n = 4
for i in range(0, n):
    q = i + 3
    print([i,q])

In [ ]:
# While loops

count = 5
while count < 10:
    print(count)
#     count = count + 1
    count += 1  # This is the same as count = count + 1

In [ ]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

In [ ]:
count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

In [ ]:
# Prints all letters except 't' and 's'
for letter in 'statsisfun':
    if letter == 't' or letter == 's':
        continue
    print('Current Letter :', letter)

In [ ]:
for letter in 'statsisfun':
 
    # break the loop as soon it sees 'i'
    # or 'a'
    if letter == 'a' or letter == 'i':
        break
        
    print('Current Letter :', letter)
    
print('Break Letter :', letter)

### Conditional Statements

There are 3 forms of conditional statements in Python
- `if` statements : evalues a condition

- `if...else` statements : includes a single clause specifying what happens if the condition is not met.

- `if...elif...else` statements : includes multiple scenarios with different conditions and an optional `else` statement.

In [ ]:
# If statement

number = 10

# check if number is greater than 0
if number > 20:
    print('Number is positive.')

In [ ]:
f =6
r = 1

if f < 4:
    w = r*f
    print(w)
    

q = f + 4
a = q*w
print(a)

In [ ]:
# If else statement

number = -13

if number > 0:
    print('Positive number')

else:
    print('Negative number')

In [ ]:
string = "hello, world"
char = "w"

if char in string:
    print("The string contains the character", char)
else:
    print("The string does not contain the character", char)

In [ ]:
# If elif else statement

number = 0

if number > 0:
    print("Positive number")

elif number == 0:
    print('Zero')
else:
    print('Negative number')

In [ ]:
score = 65

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print("Your grade is:", grade, "well done! Your score is:", score)

In [ ]:
help(type)

### Lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

### map and filter

In [ ]:
times2(seq)

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

## Strings

In [ ]:
st = 'Hello my name is Sam'
print(st)

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

## Reshaping arrays

Shape is an attribute that arrays have. Returns an array containing the same data with a new shape.

In [ ]:
import numpy as np

In [ ]:
arr = np.arange(25)
arr

In [ ]:
arr.shape

In [ ]:
# Notice the two sets of brackets
arr.reshape(1,25)

In [ ]:
arr.reshape(1,25).shape

In [ ]:
arr.reshape(25,1)

In [ ]:
arr.reshape(25,1).shape

In [ ]:
arr.reshape(5,5)

In [ ]:
arr.reshape(5,5).shape

## Universal Array Functions

Numpy comes with many [universal array functions](http://docs.scipy.org/doc/numpy/reference/ufuncs.html), which are essentially just mathematical operations you can use to perform the operation across the array. Let's show some common ones:

In [ ]:
arr = np.arange(0,10)
arr

In [ ]:
#Taking Square Roots
np.sqrt(arr)

In [ ]:
#Calcualting exponential (e^)
np.exp(arr)

In [ ]:
np.max(arr) #same as arr.max()

In [ ]:
np.sin(arr)

In [ ]:
np.log(arr)

#### Create an array of 10 zeros

In [ ]:
np.zeros(10)

#### Create an array of 10 ones

In [ ]:
np.ones(10)

#### Create an array of 10 fives

In [ ]:
np.ones(10) * 5

#### Create an array of the integers from 10 to 50

In [ ]:
np.arange(10,51)

#### Create an array of all the even integers from 10 to 50

In [ ]:
np.arange(10,51,2)

### Create a 3x3 identity matrix

In [ ]:
np.eye(3)

### Matrix descriptives

In [ ]:
mat = np.arange(1,26).reshape(5,5)
mat

#### Get the sum of all the values in mat

In [ ]:
mat.sum()

#### Get the standard deviation of the values in mat

In [ ]:
mat.std()

#### Get the sum of all the columns in mat

In [ ]:
mat.sum(axis=0)

In [ ]:
mat.sum(axis=1)

## Fun stuff

In [ ]:
num = 12
name = 'Sam'

print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']